
//section recherche
.search-section{
    background-color: $color-bg;
    padding-bottom: 30px;
    // input ville
        &__input{
            background-color: darken($color-bg, 5);
            padding:20px;
            text-align: center;
            box-shadow: 0 2px 5px #bdbaba inset;
                input{
                margin-left: 20px;
                border:none;
                background-color: darken($color-bg, 5);
                     &::placeholder{
                        font-weight: bolder;
                    }
                }  
        }
} 

// secion recherche ville avec button
.search-section-explore{
    margin:30px 0;
    text-align: center;
    padding:0 30px 0;
        &__heading{
            @include titre;
            margin-bottom:20px;
        }
        &__text{
            margin-bottom: 20px;
        }
} 

// button conforme à l'ensemble du site
.btn-container{
    text-align: center;
    display: block;
        &__btn{
            // button
         @include btn;
            &:hover{
                // button hover
                @include btnHover;
            }
        }
}

// section fonctionnement du site
.use-section{
    padding:30px;
        &__heading{
            @include titre;
        }
}
.use-section__content__items{
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
    margin:20px 0;
    padding:10px;
    background-color: $color-bg;
    border-radius: 25px;
    @include shadow;
        &:hover{
        background-color: lighten($color-primary,35);
        }
        &__number{
            color:#fff;
            font-size: 12px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            display: flex;
            justify-content:center;
            align-items: center;
            background-color: $color-primary;
            position: absolute;
            top:20px;
            left:-10px;
        }
        i{
            margin:0 20px;
            color:darken($color-bg,30);
        }
        &:hover i{ 
            color:$color-primary;
        }
}

//section avec l'ensemble des cartes restaurants
.restaurant-section{
    // margin:30px 0;
    padding:30px;
    background-color: $color-bg;
        &__heading{
            @include titre;
        }
}

// carte restaurant
.restaurant-card{ 
    @include shadow;
    background-color: #fff;
    margin:20px 0;
    border-radius: 25px;
    // partie image de la carte restaurant
        .restaurant-card-images{
            position: relative;
            z-index: 1;
                // badge Nouveau vert
                &__badge{
                    background-color: $color-tertiary;
                    padding:8px 10px;
                    color:darken($color-tertiary,35);
                    border-radius: 3px;
                    font-weight: bold;
                    position:absolute;
                    top:10px;
                    right: 10px;
                }
                &__img{
                    width: 100%;
                    border-radius:20px 20px 0 0;
                    height: 150px;
                    object-fit: cover;
                }
        }
}

// partie texte de la carte
.restaurant-card-description{
    display:flex;
    justify-content: space-between;
    padding:10px 15px;
        &__text{
            h2{
                font-size: 18px;
                font-weight: bold;
                margin-bottom:5px;
            }
        }
        // icône coeur
        &__icon{
            position:relative;
            z-index:2;
            // coeur vide
            .far{
                position:absolute;
                font-size: 20px;
                top:0;
                right: 0;
                background-color: #fff;
            }
                // animation sur coeur plein au passage sur coeur vide
                &:hover> .fas{
                animation:Heart 800ms;
                animation-fill-mode: forwards;
                transform-origin: 0 100%;  
                
                @keyframes Heart { 
                    0%{transform:scaleY(0.1)}
                    25%{transform:scaleY(0.3)}
                    50%{ transform:scaleY(0.6)}
                    75%{transform:scaleY(0.8)}
                    100%{transform:scaleY(1)}   
                    }
                }
                // disparition du coeur vide au passage de la souris
                &:hover> .far{
                    display:none;
                }
            // coeur plein
            .fas{
                background: linear-gradient($color-primary, $color-secondary);
                background-clip: text;
                -webkit-background-clip: text;
                color:transparent;
                font-size: 20px;
                transform: scaleY(0);   
            }         
        }
}
           
// format tablette et desktop              
@media #{$deskTab}{
    // button diminué à 25%
    .btn-container{
        &__btn{
        @include btn(25%)
        }
    }
    // passage de la partie fonctionnement en ligne
    .use-section{
        text-align: center;
        margin:0 auto;
        padding:20px;
        max-width: 1400px;
        &__content{
        display:flex;
        justify-content: center;
        &__items{
            min-width: 200px;
            max-width: 500px;   
            margin:20px;
            }
        }
    }
    // passage des cartes restaurant en flex centré
    .restaurant-section{
        &__heading{
            text-align: center;   
        }
        &__content{
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 1400px;
            margin:0 auto;
        }
        .restaurant-card{
            min-width: 300px;
            max-width: 500px;  
            margin: 20px ;
        }
    }
}