
// header de l'ensemble des pages
.header-page{
    height: 60px;
    background-color: #fff;
    margin: 0;
    padding:20px;
    display: flex;
    justify-content: center;  
    align-items: center;
    position: relative;
    position:fixed;
        width: 100%;
        top:0;
        z-index:5;
    &__logo{
        font-family: $heading-font;
        @include titre;
    }
    // flêche de retour sur page restaurant
    i{
        font-size: 20px;
        bottom: 20px;
        position:absolute;
        left: 20px;
    }
}
