
// header de l'ensemble des pages
#header-page{
    height: 60px;
    background-color: #fff;
    margin: 0;
    padding:20px;
    display: flex;
    justify-content: center;  
    align-items: center;
    position: relative;
    h1{
        font-family: $heading-font;
    }
    // flêche de retour
    i{
        font-size: 20px;
        bottom: 20px;
        position:absolute;
        left: 20px;
    }
}

// version tablette et desktop
@media #{$deskTab}{
    #header-page{
        position:fixed;
        width: 100%;
        top:0;
        z-index:5;  
    }
}