// .load{
//     position:relative;
//     img{
//         position: absolute;
//         top:25px;
//         left:25px;
//         height: 50px;
//         width: 50px;
//     }
//    .load-circle{
//     border: 2px solid transparent; /* Light grey */
//   border-top: 2px solid #000; /* Blue */
//   border-radius: 50%;
//   width: 100px;
//   height: 100px;
//   animation: spin .5s linear 1s;
// }
// @keyframes spin {
//     0% { transform: rotate(180deg); }
//     100% { transform: rotate(360deg); }
//   } 
// }



.search-section{
    background-color: $color-bg;
        &__input{
            background-color: darken($color-bg, 5);
            padding:20px;
            text-align: center;
            box-shadow: 0 2px 5px #bdbaba inset;
                input{
                margin-left: 20px;
                border:none;
                background-color: darken($color-bg, 5);
                     &::placeholder{
                        font-weight: bolder;
                    }
                }  
        }
}  
.search-section-explore{
    margin:30px 0;
    text-align: center;
    padding:50px 30px;
        &__heading{
            @include titre;
            margin-bottom:20px;
        }
        &__text{
            margin-bottom: 20px;
        }
        &__btn{
            padding:15px;
            border-radius: 20px;
            color:#fff;
            border:none;
            background: linear-gradient($color-secondary, $color-primary);
            box-shadow: 2px 2px 10px #b9b9b9 ;
                &:hover{
                    background: linear-gradient(lighten($color-secondary, 5), lighten($color-primary, 5));
                    box-shadow: 2px 2px 8px #807e7e;
                }
            }
}
.use-section{
    padding:30px;
        &__heading{
            @include titre;
        }
}
.use-section__items{
    font-weight: bold;
    display: flex;
    position: relative;
    height: 60px;
    margin:20px 0;
    padding:20px;
    background-color: $color-bg;
    border-radius: 25px;
    @include shadow;
    &:hover{
        background-color: lighten($color-primary,35);
    }
    &__number{
        color:#fff;
        font-size: 12px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: $color-primary;
        position: absolute;
        top:20px;
        left:-10px;
    }
    i{
        margin:0 20px;
        color:darken($color-bg,30);
    }
    &:hover i{ 
        color:$color-primary;
    }
}
   
.restaurant-section{
    // margin:30px 0;
    padding:50px 30px;
    background-color: $color-bg;
    &__heading{
        @include titre;
    }
}
.restaurant-container{
    @include shadow;
    background-color: #fff;
    margin:20px 0;
    border-radius: 25px;
}
.restaurant-card{
    .restaurant-card-images{
position: relative;
    
    &__badge{
        background-color: $color-tertiary;
        padding:8px 10px;
        color:darken($color-tertiary,35);
        border-radius: 3px;
        font-weight: bold;
        position:absolute;
        top:10px;
        right: 10px;
    }
    &__img{
        width: 100%;
        border-radius:20px 20px 0 0;
        height: 150px;
        object-fit: cover;
    }}
    &__heading{
        font-size:15px;
    }
}
.restaurant-card-description{
    display:flex;
    justify-content: space-between;
    padding:10px 15px;
        &__text{
            h2{
                font-size: 18px;
                font-weight: bold;
                margin-bottom:5px;
            }
        }
        &__icon{
            i{
                &:hover::before{
                 font-weight: bold;
                    color:$color-primary;       
                }
            } 
        }   
}

    